<?xml version="1.0" encoding="gb2312" standalone="no"?>
<配置项>
	<HTTP服务器>
		<IP>127.0.0.1</IP>
		<端口>7999</端口>
	</HTTP服务器>
    <本地服务器>
        <ID>34020000002000000001</ID>
        <域>34020000</域>
        <协议>UDP</协议>
        <IP>127.0.0.1</IP>
        <端口>5060</端口>
        <密码>123456</密码>
        <鉴权>1</鉴权>
    </本地服务器>
    <下级域>
        <下级服务器 ID="34032301051315041603" 域="34000000">
            <IP>127.0.0.1</IP>
            <密码>123456</密码>
            <端口>16001</端口>
            <注册时间>3600</注册时间>
            <心跳周期>30</心跳周期>
            <保活>1</保活>
            <保活间隔>30000</保活间隔>
            <RTCP>1</RTCP>
        </下级服务器>
    </下级域>
    <Nginx服务器/>
</配置项>
