<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Configuration>
	<http>
		<IP>127.0.0.1</IP>
		<port>7999</port>
	</http>
    <local>
        <ID>34020000002000000001</ID>
        <realm>34020000</realm>
        <protocol>UDP</protocol>
        <IP>27.17.34.22</IP>
        <port>5060</port>
        <password>123456</password>
        <Authentication>1</Authentication>
		<videoNum>4</videoNum>
    </local>
    <SubRealm>
        <subServer ID="35080000002000000128" realm="35080000">
            <IP>112.111.229.121</IP>
            <password>123456</password>
            <port>7100</port>
            <expries>3600</expries>
            <HeartbeatCycle>30</HeartbeatCycle>
            <keepalive>1</keepalive>
            <aliveInterval>30000</aliveInterval>
            <RTCP>1</RTCP>
        </subServer>
		<subServer ID="34000000002000001111" realm="34000000">
            <IP>117.71.25.9</IP>
            <password>123456</password>
            <port>7100</port>
            <expries>3600</expries>
            <HeartbeatCycle>30</HeartbeatCycle>
            <keepalive>1</keepalive>
            <aliveInterval>30000</aliveInterval>
            <RTCP>1</RTCP>
        </subServer>
    </SubRealm>
</Configuration>
